<div class="col-xs-12 overall-container">
    <!-- About Us -->
    <div class="about-header">
        <label class="about-font">About Us</label>
        <!-- for show -->
        <div style="height: 300px;"></div>
    </div>

    <div class="section-header center-text">
        <div>
          <label style="color:#192E4F; font-weight: 700; font-size: 24px;">Founder of magic Myanmar</label>
        </div>
    </div>

    <div class="prod-div mrg-top-7">
        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;background-color: lightblue;border-radius: 319px;">
                
            </div>
        </div>
    </div>

    <div class="section-header center-text">
        <div>
          <label style="color:#192E4F; font-weight: 700; font-size: 24px;">Models of magic myanmar</label>
        </div>
    </div>

    <div class="prod-div mrg-top-7">
        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;background-color: lightblue;border-radius: 319px;">
                
            </div>
        </div>

        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;background-color: lightblue;border-radius: 319px;">
                
            </div>
        </div>

        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;background-color: lightblue;border-radius: 319px;">
                
            </div>
        </div>
    </div>
</div>