<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a>
    <img class="toolbar-logo" src="/assets/logo.png" />
  </a>
  <div class="spacer">
    <a routerLink="/home" [ngClass]="active == 1 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(1)">
      {{'banner.home' | translate}}</a>
    <a routerLink="/products" [ngClass]="active == 2 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(2)">
      {{'banner.products' | translate}}</a>
    <a routerLink="/aboutus" [ngClass]="active == 3 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(3)">
      {{'banner.aboutus' | translate}}</a>
    <a routerLink="/contactus" [ngClass]="active == 4 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(4)">
      {{'banner.contactus' | translate}}</a>
  </div>
  <a aria-label="Angular on Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/magicmmofficial/"
    title="Facebook">
    <img src="https://img.icons8.com/ios-glyphs/30/26e07f/phone--v1.png" />
    <label style="display: inline-flex;
    vertical-align: middle;
    margin-bottom: 24px;">+959-761-888-999</label>
    <img style="margin-top: 15px;" src="https://img.icons8.com/ios-glyphs/30/4a90e2/facebook-new.png" />
  </a>
  <a *ngIf="lang == 'myn'">
    <img style="width: 30%;cursor:pointer;" (click)="changeLanguage('en')" src="/assets/language/myanmar.png" />
  </a>
  <a *ngIf="lang == 'en'">
    <img style="width: 30%;cursor:pointer;" (click)="changeLanguage('myn')" src="/assets/language/english.png" />
  </a>
</div>

<router-outlet></router-outlet>

<!-- footer -->
<div class="section-header app-section-header">
  <div class="toolbar-left-div">
    <img class="logo-style" src="/assets/logo.png" />
    <div class="mrg-top-2">
      <a routerLink="/home" class="menu-item footer-menu" (click)="myFunction(1)">{{'banner.home' | translate}}</a>
      <a routerLink="/products" class="menu-item footer-menu" (click)="myFunction(2)">{{'banner.products' | translate}}</a>
      <a routerLink="/aboutus" class="menu-item footer-menu" (click)="myFunction(3)">{{'banner.aboutus' | translate}}</a>
      <a routerLink="/contactus" class="menu-item footer-menu" (click)="myFunction(4)">{{'banner.contactus' | translate}}</a>
    </div>
  </div>
  <a aria-label="Angular on Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/magicmmofficial/"
    title="Facebook" class="toolbar-right-img">
    <img src="https://img.icons8.com/ios-glyphs/30/26e07f/phone--v1.png" />
    <label class="toolbar-phone">+959-761-888-999</label>
    <img class="mrg-top-2" src="https://img.icons8.com/ios-glyphs/30/4a90e2/facebook-new.png" />
  </a>
</div>
<div class="section-header center-text" style="border: solid 2px #ffff;">
  <div>
    <label style="color:#192E4F; font-weight: 700; font-size: 14px;">© Copyright 2021 Magic Myanmar</label>
  </div>
</div>

