<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div>Welcome</div>
  <div class="spacer">
    <a [ngClass]="active == 1 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(1)">Home</a>
    <a [ngClass]="active == 2 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(2)">Products</a>
    <a [ngClass]="active == 3 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(3)">About Us</a>
    <a [ngClass]="active == 4 ? 'menu-item-active' : 'menu-item'" (click)="myFunction(4)">Contact Us</a>
  </div>
  <a aria-label="Angular on Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/magicmmofficial/" title="Facebook">
    <img src="https://img.icons8.com/ios-glyphs/30/26e07f/phone--v1.png"/>
    <label style="display: inline-flex;
    vertical-align: middle;
    margin-bottom: 24px;">+959-761-888-999</label>
    <img style="margin-top: 15px;" src="https://img.icons8.com/ios-glyphs/30/4a90e2/facebook-new.png"/>
  </a>
</div>


<div class="col-xs-12" style="margin-top:100px;">
  <!-- Slide Show -->
  <div class="mall-slide">
    <div class="slid-content">
        <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
            <img src="{{item}}" style="width:100%">
        </div>
        <div class="mall-carousel-ind">
            <ul>
                <li *ngFor="let item of Imagedata; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
            </ul>
        </div>
    </div>
  </div>

  <!-- About Us -->
  <!-- <div class="about-header">
     <label class="about-font">About Us</label>
     <br><br><br><br><br><br><br><br><br><br><br><br>
  </div> -->
