<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;">
    <div style="margin-top: 10%;margin-bottom: 5%;">
        <label style="color:#000000 !important; font-size: 20px;margin-left: 10%;">
            <a routerLink="/products">Product</a> /<a routerLink="/healthcareproduct">Healthcare</a>/ Collagen
        </label>
    </div>
    <img style="width: 20%;
    padding-left: 15%;
    padding-bottom: 50px;" src="/assets/healthcare/collagen.png" />
</div>

<div class="section-header">
    <div>
        <label style="color:#192E4F; font-weight: 700; font-size: 24px;">PRODUCT DETAILS</label>
    </div>
</div>
<div class="col-xs-12 overall-container" style="margin-top: 0% !important;">
    <img style="width: 72%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 50px;" src="/assets/collagendetail/corecomponents.png" />
</div>

<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;text-align: center;">
    <img style="width: 90%;
    padding-top: 5%;" src="/assets/collagendetail/tip1.png" />
</div>

<div class="col-xs-12 overall-container" style="margin-top: 0% !important;">
    <img style="width:100%;
    padding-top: 5%;" src="/assets/collagendetail/tip2.png" />
</div>

<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;text-align: center;">
    <img style="width: 85%;
    padding-top: 5%;" src="/assets/collagendetail/tip3.png" />
</div>

<div class="col-xs-12 overall-container" style="margin-top: 0% !important;text-align: center;">
    <img style="width: 75%;
    padding-top: 5%;" src="/assets/collagendetail/tip4.png" />
</div>

<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;text-align: center;">
    <img style="width: 70%;
    padding-top: 5%;" src="/assets/collagendetail/tip5.png" />
</div>

<div class="col-xs-12 overall-container" style="margin-top: 0% !important;text-align: center;">
    <img style="width: 57%;
    padding-top: 5%;" src="/assets/collagendetail/tip6.png" />
</div>

<div class="col-xs-12 overall-container" style="margin-top: 0% !important;text-align: center;">
    <img style="width: 57%;
    padding-top: 1%;padding-bottom: 7%;" src="/assets/collagendetail/tip6.1.png" />
</div>

<div class="section-header">
    <div>
        <label style="color:#192E4F; font-weight: 700; font-size: 24px;">CERTIFICATES</label>
    </div>
</div>
<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;">
    <img style="width: 72%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 50px;" src="/assets/collagendetail/certificate.png" />
</div>