<div class="col-xs-12 overall-container">

    <div style="margin: auto; display: flex; width: 1067px;">
        <div class="prod-cate">
          <div class="contact-cate">
            <img style="margin-top: 29%;
            margin-left: 38%;
            width: 24%;" src="/assets/contact/address.png"/>
            <div style="text-align: center;
            margin: 10%;color: #ffff;">
                <p>အမှတ် မ၄၂/၅က၊ မြို့ပတ်လမ်း နှင့် ၅၂ လမ်းကြား၊ ရဲမွန်တောင်ရပ်ကွက်၊ မဟာအောင်မြေမြို့နယ်၊ မန္တလေး။</p>
            </div>
          </div>
        </div>
        <div class="prod-cate">
            <div class="contact-cate">
            <img style="margin-top: 30%;
            margin-left: 33%;
            width: 35%;" src="/assets/contact/business talk.png"/>
              <div style="text-align: center;
              margin: 10%;color: #ffff;">
                  <p style="font-size: 24px;">+959-761-888-999</p>
              </div>
            </div>
        </div>
        <div class="prod-cate">
            <div class="contact-cate">
              <img style="margin-top: 27%;
              margin-left: 31%;
              width: 35%;" src="/assets/contact/social.png"/>
              <div style="text-align: center;
              margin: 10%;color: #ffff;">
                  <p>အမှတ် မ၄၂/၅က၊ မြို့ပတ်လမ်း နှင့် ၅၂ လမ်းကြား၊ ရဲမွန်တောင်ရပ်ကွက်၊ မဟာအောင်မြေမြို့နယ်၊ မန္တလေး။</p>
              </div>
            </div>
        </div>
    </div>

    <div class="section-header">
        <div>
            <label style="color:#192E4F; font-weight: 700; font-size: 24px;">{{'banner.contactus' | translate}}</label>
        </div>
    </div>
    
    <div class="container" style="margin: auto; display:grid;">
        <div class="row">
            <div style="float: left; padding-left: 10%;margin-top: 17%;">
                <label style="font-size: 32px; font-weight: 700;">{{'banner.haveaprivatequestion' | translate}}</label>
                <div class="contact-label-div">
                    <div class="contact-label">{{'banner.contactus' | translate}}</div> 
                </div>
            </div>
        
        
            <div class="contact-form">
                <div class="contact-header-div">
                    <label class="contact-header">LEAVE A MESSAGE</label><br>
                </div>

                <label style="margin-top: 25px;">Name</label><br>
                <input name="name" class="contact-input"/><br>

                <label>Email</label><br>
                <input name="email" class="contact-input"/><br>

                <label>Phone Number</label><br>
                <input name="phone" class="contact-input"/><br>

                <label>Message</label><br>
                <textarea name="message" class="contact-textarea"></textarea>

                <button class="send-btn">Send</button>
            </div>
        </div>
    </div>
</div>
