<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;">
    <div style="margin-top: 10%;margin-bottom: 5%;">
        <label style="color:#000000 !important; font-size: 20px;margin-left: 10%;">
            <a routerLink="/products">Product</a> /<a routerLink="/haircareproduct">Haircare</a>/ Fragrance Shower Gel
        </label>
    </div>
    <img style="width: 9%;
    padding-left: 15%;
    padding-bottom: 50px;" src="/assets/haircare/showergel.png" />
</div>

<div class="section-header">
    <div>
        <label style="color:#192E4F; font-weight: 700; font-size: 24px;">PRODUCT DETAILS</label>
    </div>
</div>
<div class="col-xs-12 overall-container" style="margin-top: 0% !important;">
    <img style="width: 72%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 50px;" src="/assets/geldetail/corecomponents.png" />
</div>

<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;text-align: center;
padding-bottom: 10%;">
    <img style="width: 70%;
    padding-top: 5%;" src="/assets/geldetail/tip1.png" />
</div>

<div class="col-xs-12 overall-container" style="margin-top: 0% !important;padding-bottom: 10%;">
    <img style="width:100%;
    padding-top: 5%;" src="/assets/geldetail/tip2.png" />
</div>

<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;text-align: center;
padding-bottom: 10%;">
    <img style="width: 60%;
    padding-top: 5%;" src="/assets/geldetail/tip3.png" />
</div>

<div class="section-header">
    <div>
        <label style="color:#192E4F; font-weight: 700; font-size: 24px;">CERTIFICATES</label>
    </div>
</div>
<div class="col-xs-12 overall-container" style="background-color: #F1F6FF;margin-top: 0% !important;text-align: center;">
    <img style="width: 27%;
    padding-top: 5%;
    padding-bottom: 50px;" src="/assets/geldetail/certificate.png" />
</div>