<!-- Skincare -->
<div class="col-xs-12 overall-container">
    <div style="margin-bottom: 2%;">
        <label style="color:#192E4F; font-size: 20px;margin-left: 15%;">
            <a routerLink="/products">Product</a>/ Haircare
        </label>
    </div>

    <div class="about-header" style="margin-bottom: 5%;">
      <label style="color:#192E4F; font-weight: 700; font-size: 40px;">HAIRCARE PRODUCTS</label>
    </div>
  
    <div style="overflow-x: auto;width:auto">
        <div style="margin: auto; display: flex; width: 1067px;">
            <div style="margin: 20px; width: 315px; height: 500px;">
                <div style="border: lightblue solid; width: 305px; height: 329px;">
                <img style="width: 95%;
                    padding-top: 46px;
                    padding-left: 12px;" src="/assets/haircare/soap.png" />
                <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Whitening Handmade Soap</label>
                <label class="product-label">Clear skin, improve calm tender and elastic</label>
                <button class="learn-btn" >Learn More</button>
                </div>
            </div>
            <div style="margin: 20px; width: 315px; height: 500px;">
                <div style="border: lightblue solid; width: 305px; height: 329px;">
                <img style="width: 33%;
                padding-top: 24px;
                padding-left: 98px;" src="/assets/haircare/conditioner.png" />
                <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 51px;">Fragrance Conditioner</label>
                <label class="product-label">Hot compress to lose weight safely and healthy</label>
                <button class="learn-btn" >Learn More</button>
                </div>
            </div>
            <div style="margin: 20px; width: 315px; height: 500px;">
                <div style="border: lightblue solid; width: 305px; height: 329px;">
                <img style="width: 33%;
                padding-top: 24px;
                padding-left: 98px;" src="/assets/haircare/showergel.png" />
                <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 58px;">Fragrance Shower Gel</label>
                <label class="product-label">Elimination of toxins in the body and the intestine</label>
                <button class="learn-btn" >Learn More</button>
                </div>
            </div>
        </div>
    
        <div style="margin: auto; display: flex; width: 1067px;">
            <div style="margin: 20px; width: 315px; height: 500px;">
                <div style="border: lightblue solid; width: 305px; height: 329px;">
                <img style="width: 28%;
                padding-top: 46px;
                padding-left: 106px;" src="/assets/haircare/shampoo.png" />
                <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Shampoo</label>
                <label class="product-label">Enjoy Life, Frangrance Lasting and Emission Charm</label>
                <button class="learn-btn" [routerLink]="['/shampoo']">Learn More</button>
                </div>
            </div>
        </div>
    </div>
    
</div>