<!-- Skincare -->
<div class="col-xs-12 overall-container">
    <div style="margin-bottom: 2%;">
        <label style="color:#192E4F; font-size: 20px;margin-left: 15%;">
            <a routerLink="/products">Product</a>/ Haircare
        </label>
    </div>

    <div class="about-header" style="margin-bottom: 5%;">
      <label style="color:#192E4F; font-weight: 700; font-size: 40px;">HAIRCARE PRODUCTS</label>
    </div>
  
    <div style="margin: auto; display: flex; width: 1067px;">
        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;">
            <img style="width: 95%;
                padding-top: 46px;
                padding-left: 12px;" src="/assets/haircare/soap.png" />
            <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Whitening Handmade Soap</label>
            <label class="product-label">Clear skin, improve calm tender and elastic</label>
            <button class="learn-btn" >Learn More</button>
            </div>
        </div>
        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;">
            <img style="width: 33%;
            padding-top: 24px;
            padding-left: 98px;" src="/assets/haircare/conditioner.png" />
            <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 51px;">Fragrance Conditioner</label>
            <label class="product-label">Hot compress to lose weight safely and healthy</label>
            <button class="learn-btn" >Learn More</button>
            </div>
        </div>
        <div style="margin: 20px; width: 315px; height: 500px;">
            <div style="border: lightblue solid; width: 305px; height: 329px;">
            <img style="width: 33%;
            padding-top: 24px;
            padding-left: 98px;" src="/assets/haircare/showergel.png" />
            <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 58px;">Fragrance Shower Gel</label>
            <label class="product-label">Elimination of toxins in the body and the intestine</label>
            <button class="learn-btn" >Learn More</button>
            </div>
        </div>
    </div>
    
<!-- <div style="margin: 20px; width: 315px; height: 500px;">
    <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
        padding-top: 20px;
        padding-left: 12px;" src="/assets/skincare/cleanser.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Cleanser</label>
        <label class="product-label">Soft Shining and Moisturizing Amino Acid</label>
        <label class="product-label">Facial Cleanser</label>
        <button class="learn-btn">Learn More</button>
    </div>
</div>
<div style="margin: 20px; width: 315px; height: 500px;">
    <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 60%;
        padding-top: 38px;
        padding-left: 61px;" src="/assets/skincare/BBCream.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">BB Cream</label>
        <label class="product-label">Light and Concaler</label>
        <button class="learn-btn" style="margin-top:45px !important;">Learn More</button>
    </div>
</div>
<div style="margin: 20px; width: 315px; height: 500px;">
    <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
        padding-top: 20px;
        padding-left: 12px;" src="/assets/skincare/sleepingmask.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Sleeping Mask</label>
        <label class="product-label">Peptide Repair Facial Sleeping Mask</label>
        <button class="learn-btn" style="margin-top:45px !important;">Learn More</button>
    </div>
</div>
<div style="margin: 20px; width: 315px; height: 500px;">
    <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 60%;
        padding-top: 38px;
        padding-left: 61px;" src="/assets/skincare/BBCream.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">BB Cream</label>
        <label class="product-label">Light and Concaler</label>
        <button class="learn-btn" style="margin-top:45px !important;">Learn More</button>
    </div>
</div>
<div style="margin: 20px; width: 315px; height: 500px;">
    <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
        padding-top: 20px;
        padding-left: 12px;" src="/assets/skincare/sleepingmask.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Sleeping Mask</label>
        <label class="product-label">Peptide Repair Facial Sleeping Mask</label>
        <button class="learn-btn" style="margin-top:45px !important;">Learn More</button>
    </div>
</div> -->
</div>