<!-- Skincare -->
<div class="col-xs-12 overall-container">
    <div style="margin-bottom: 2%;">
        <label style="color:#192E4F; font-size: 20px;margin-left: 15%;">
            <a routerLink="/products">Product</a> /Healthcare
        </label>
    </div>

    <div class="about-header" style="margin-bottom: 5%;">
      <label style="color:#192E4F; font-weight: 700; font-size: 40px;">HEALTHCARE PRODUCTS</label>
    </div>
  
    <div style="margin: auto; display: flex; width: 1067px;">
      <div style="margin: 20px; width: 315px; height: 500px;">
        <div style="border: lightblue solid; width: 305px; height: 329px;">
          <img style="width: 95%;
      padding-top: 20px;
      padding-left: 12px;" src="/assets/healthcare/collagen.png" />
          <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Collagen Probiotics Solid Beverage</label>
          <label class="product-label">Peptide Collagen and get rid of lines and wrinkles</label>
          <button class="learn-btn" [routerLink]="['/collagen']">Learn More</button>
        </div>
      </div>
      <div style="margin: 20px; width: 315px; height: 500px;">
        <div style="border: lightblue solid; width: 305px; height: 329px;">
          <img style="width: 76%;
          padding-top: 87px;
          padding-left: 42px;" src="/assets/healthcare/weightloss.png" />
          <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 105px;">Magic Lose Weight Set</label>
          <label class="product-label">Hot compress to lose weight safely and healthy</label>
          <button class="learn-btn" [routerLink]="['/loseweightset']">Learn More</button>
        </div>
      </div>
      <div style="margin: 20px; width: 315px; height: 500px;">
        <div style="border: lightblue solid; width: 305px; height: 329px;">
          <img style="width: 95%;
            padding-top: 20px;
            padding-left: 12px;" src="/assets/healthcare/jellly.png" />
          <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 115px;">Bird Nets Collagen Probiotics Jelly</label>
          <label class="product-label">Elimination of toxins in the body and the intestine</label>
          <button class="learn-btn" [routerLink]="['/jelly']">Learn More</button>
        </div>
    </div>
</div>