<div class="col-xs-12 overall-container">
    <!-- Slide Show -->
    <div class="mall-slide">
      <div class="slid-content">
        <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
          <img src="{{item}}" style="width:100%">
        </div>
        <div class="mall-carousel-ind">
          <ul>
            <li *ngFor="let item of Imagedata; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
          </ul>
        </div>
      </div>
    </div>
  
  
    <!-- About Us -->
    <div class="about-header">
      <label class="about-font">About Us</label>
      <!-- for show -->
      <div style="height: 300px;"></div>
    </div>
  
    <div class="section-header">
      <div>
        <label style="color:#192E4F; font-weight: 700; font-size: 24px;">OUR PRODUCTS</label>
      </div>
    </div>
  
    <!-- Skincare -->
  <div class="about-header mrg-btm-5">
    <label style="color:#192E4F; font-weight: 700; font-size: 40px;">SKINCARE PRODUCTS</label>
  </div>

  <div class="prod-div" *ngIf="skinpage == 1">
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 20px;
    padding-left: 12px;" src="/assets/skincare/cleanser.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Cleanser</label>
        <label class="product-label">Soft Shining and Moisturizing Amino Acid</label>
        <label class="product-label">Facial Cleanser</label>
        <button class="learn-btn" [routerLink]="['/cleanser']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 60%;
        padding-top: 38px;
        padding-left: 61px;" src="/assets/skincare/BBCream.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">BB Cream</label>
        <label class="product-label">Light and Concaler</label>
        <button class="learn-btn" style="margin-top:45px !important;" [routerLink]="['/bbcream']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 20px;
    padding-left: 12px;" src="/assets/skincare/sleepingmask.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Sleeping Mask</label>
        <label class="product-label">Peptide Repair Facial Sleeping Mask</label>
        <button class="learn-btn" style="margin-top:45px !important;" [routerLink]="['/sleepingmask']">Learn More</button>
      </div>
    </div>
  </div>

  <div class="prod-div" *ngIf="skinpage == 2">
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 66px;
    padding-left: 12px;" src="/assets/skincare/powder.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Seeting Powder</label>
        <label class="product-label">Magic Featherlight Setting Powder</label>
        <button class="learn-btn" [routerLink]="['/powder']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 54%;
        padding-top: 39px;
        padding-left: 70px;" src="/assets/skincare/emulsion.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Emulsion</label>
        <label class="product-label">Moisturizing and Light Protection Emulsion</label>
        <button class="learn-btn" [routerLink]="['/emulsion']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 70px;
    padding-left: 12px;" src="/assets/skincare/mask.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Facial Mask</label>
        <label class="product-label">Sooth Tender and Shining Facial Mask</label>
        <button class="learn-btn" [routerLink]="['/facialmask']">Learn More</button>
      </div>
    </div>
  </div>

  <div class="prod-div" *ngIf="skinpage == 3">
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 60%;
        padding-top: 35px;
        padding-left: 58px;" src="/assets/skincare/essence.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Essence</label>
        <label class="product-label">Skin  permeation, Multi-Effect Repair, Shining Essence</label>
        <button class="learn-btn" [routerLink]="['/essence']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 55%;
        padding-top: 38px;
        padding-left: 66px;" src="/assets/skincare/toner.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 30px;">Toner</label>
        <label class="product-label">Luxurious, Contain Treasure Activate, relieve toner</label>
        <button class="learn-btn" [routerLink]="['/bbcream']">Learn More</button>
      </div>
    </div>
  </div>
  
  <div class="about-header" style="margin-bottom: 2%;margin-top: 0px !important;">
    <button class="hand slim-btn" (click)="showskinpage(1)"></button>
    <button class="hand slim-btn" (click)="showskinpage(2)"></button>
    <button class="hand slim-btn" (click)="showskinpage(3)"></button>
  </div>
  <div class="about-header mrg-btm-5" style="margin-top: 0px !important;">
    <a class="hand" routerLink="/skincareproduct">View all skincare products</a>
  </div>

  <!-- Healthcare -->
  <div class="about-header mrg-btm-5">
    <label style="color:#192E4F; font-weight: 700; font-size: 40px;">HEALTHCARE PRODUCTS</label>
  </div>

  <div class="prod-div" *ngIf="healthpage == 1">
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 20px;
    padding-left: 12px;" src="/assets/healthcare/collagen.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Collagen Probiotics Solid Beverage</label>
        <label class="product-label">Peptide Collagen and get rid of lines and wrinkles</label>
        <button class="learn-btn" [routerLink]="['/collagen']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 76%;
        padding-top: 87px;
        padding-left: 42px;" src="/assets/healthcare/weightloss.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 105px;">Magic Lose Weight Set</label>
        <label class="product-label">Hot compress to lose weight safely and healthy</label>
        <button class="learn-btn" [routerLink]="['/loseweightset']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 20px;
    padding-left: 12px;" src="/assets/healthcare/jellly.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 115px;">Bird Nets Collagen Probiotics Jelly</label>
        <label class="product-label">Elimination of toxins in the body and the intestine</label>
        <button class="learn-btn" [routerLink]="['/jelly']">Learn More</button>
      </div>
    </div>
  </div>

  <div class="about-header" style="margin-bottom: 2%;margin-top: 0px !important;">
    <button class="hand slim-btn" (click)="showhealthpage(1)"></button>
  </div>

  <div class="about-header" style="margin-bottom: 5%;margin-top: 0px !important;">
    <a style="cursor: pointer;" routerLink="/healthcareproduct">View all healthcare products</a>
  </div>

  <!-- Haircare -->
  <div class="about-header" style="margin-bottom: 5%;">
    <label style="color:#192E4F; font-weight: 700; font-size: 40px;">HAIRCARE PRODUCTS</label>
  </div>

  <div class="prod-div" *ngIf="hairpage == 1">
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 95%;
    padding-top: 46px;
    padding-left: 12px;" src="/assets/haircare/soap.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Whitening Handmade Soap</label>
        <label class="product-label">Clear skin, improve calm tender and elastic</label>
        <button class="learn-btn" [routerLink]="['/soap']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 33%;
        padding-top: 24px;
        padding-left: 98px;" src="/assets/haircare/conditioner.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 51px;">Fragrance Conditioner</label>
        <label class="product-label">Hot compress to lose weight safely and healthy</label>
        <button class="learn-btn" [routerLink]="['/conditioner']">Learn More</button>
      </div>
    </div>
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 33%;
        padding-top: 24px;
        padding-left: 98px;" src="/assets/haircare/showergel.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 58px;">Fragrance Shower Gel</label>
        <label class="product-label">Elimination of toxins in the body and the intestine</label>
        <button class="learn-btn" [routerLink]="['/gel']">Learn More</button>
      </div>
    </div>
  </div>

  <div class="prod-div" *ngIf="hairpage == 2">
    <div style="margin: 20px; width: 315px; height: 500px;">
      <div style="border: lightblue solid; width: 305px; height: 329px;">
        <img style="width: 28%;
        padding-top: 46px;
        padding-left: 106px;" src="/assets/haircare/shampoo.png" />
        <label class="product-label" style="font-weight: 700;font-size: 15px;margin-top: 75px;">Shampoo</label>
        <label class="product-label">Enjoy Life, Frangrance Lasting and Emission Charm</label>
        <button class="learn-btn" [routerLink]="['/shampoo']">Learn More</button>
      </div>
    </div>
  </div>

  <div class="about-header" style="margin-bottom: 2%;margin-top: 0px !important;">
    <button class="hand slim-btn" (click)="showhairpage(1)"></button>
    <button class="hand slim-btn" (click)="showhairpage(2)"></button>
  </div>

  <div class="about-header" style="margin-bottom: 5%;margin-top: 0px !important;">
    <a style="cursor: pointer;" routerLink="/haircareproduct">View all haircare products</a>
  </div>
  
    <!-- Contact Us -->
    <div class="section-header">
      <div>
        <label style="color:#192E4F; font-weight: 700; font-size: 24px;">CONTACT US</label>
      </div>
    </div>
  
    <div class="container" style="margin: auto; display:grid;">
      <div class="row">
        <div style="float: left; padding-left: 10%;margin-top: 17%;">
          <label style="font-size: 32px; font-weight: 700;">HAVE A PRIVATE QUESTION?</label>
          <div style="width: 209px;
          height: 50px;
          background: #5E90FF;
          border-radius: 50px;
          margin-left: 20%;
          margin-top: 7%;">
            <div style="padding-top: 15px;
            padding-left: 47px;color:#ffff;">CONTACT US</div> 
          </div>
        </div>
          
         
        <div class="contact-form">
          <div class="contact-header-div">
            <label class="contact-header">LEAVE A MESSAGE</label><br>
          </div>

          <label style="margin-top: 25px;">Name</label><br>
          <input name="name" class="contact-input"/><br>

          <label>Email</label><br>
          <input name="email" class="contact-input"/><br>

          <label>Phone Number</label><br>
          <input name="phone" class="contact-input"/><br>

          <label>Message</label><br>
          <textarea name="message" class="contact-textarea"></textarea>

          <button class="send-btn">Send</button>
        </div>
      </div>
    </div>
</div>