/* You can add global styles to this file, and also import other style files */




:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
    text-align: center;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 7px 7px -5px rgba(0,0,0,.2);
    color: white;
    z-index: 200;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .menu-item {
    height: 35px;
    display: inline-block;
    padding: 10px;
    border-top: 4px solid white;
    cursor: pointer;
    color: #192E4F;
    font-size: 20px;
  }

  .menu-item-active {
    height: 35px;
    display: inline-block;
    padding: 10px;
    border-top: 4px solid gray;
    color: #192E4F;
    cursor: pointer;
    font-size: 20px;
  }

  .footer-menu-border {
    border: none !important;
  }
  

  /* About Us */

  .about-header {
    margin-top: 5%;
    text-align: center;
  }

  .about-font {
    font-size: 40px;
    font-weight: 700;
  }

  .learn-btn {
    background-color: #5E90FF;
    border-color: #5E90FF; 
    border-radius: 5px;
    width: 305px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
    border-style: none;
    color: white;
  }
  
/* slide show */

.mall-slide {
  background-color: #f5f5f5;
  width: 90%;
  z-index: -1;
  margin: auto;
}

.mall-slide .slid-content {
    width: 100%;
}

.mall-slide .slid-content .mall-carousel-ind {
    position: absolute;
    width: 90%;
    line-height: 0!important;
    text-align: center;
    font-size: 0;
    z-index: 10;
    margin-top: -10%;
}

.mall-carousel-ind ul {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.mall-carousel-ind li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #e2e2e2;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.mall-carousel-ind li.mall-this {
    background-color: #fff;    
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    width: 30px;
    border-radius: 14px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ............................ */

.section-header {
  background: #D3E2FF;
  padding: 25px 50px;
}

.product-label {
  display: block;
  margin-top: 10px;
  text-align: center;
}